@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
body {
	background-color: #34495e; /* основной цвет фона всей страницы */
	color: #c8c8c8;
	font-family: 'Roboto',sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	margin: 0;
	padding: 0;
}
header {
	background: url(images/bg.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

#header-left {
	float: left;
	width: 40%;
	color: #fff;
}

#header-shadow {
	background: rgba(0,0,0,0.5);
}
h1 {
	margin-bottom: 30px;
	font-size: 60px;
	font-weight: 100;
	line-height: 1.1;
}
#header-left h1 {
	font-size: 72px;
	margin-top: 50px;
	line-height: 1.1;
}
#header-left h2 {
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 30px;
	line-height: 1.1;
}
#header-left p {
	font-size: 18px;
	margin-bottom: 70px
	letter-spacing: 1px;
}
#header-left h1 strong {
	font-weight: 400;
}
header .wrapper {
	padding: 100px 15px 50px 50px;
}
#header-left h1, #header-left h2, #header-left p {
	margin-right: 40px;
}
#header-right img {
	max-width: 252px;
}
a.button-download {
	display: block-inline;
	color: #fff;
	border: 1px solid #fff;
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 50px;
	padding-right: 20px;
	padding: 10px 16px;
	text-decoration: none;
}
a.button-download .fa {
	margin-right: 20px;
}
a.button-download: hover {
	background: #fff;
	color: #111;
}
#navbar-top {
	min-height: 70px;
	background-color: #181b3d;
	box-shadow: 0 0px rgba(0,0,0,.2);
}
#navbar-top .logo {
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
	padding: 15px 15px;
	display: block;
	float: left;
	text-decoration: none;
}
#navbar-top menu {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
#navbar-top menu li {
	float: left;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}
#navbar-top menu li a {
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	line-height: 70px;
	display: block;
}
#navbar-top menu li a:hover, #navbar-top menu li.active a {
	color: #0099ff;
}
div.header {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
#features {
	background: #fff;
	padding-top: 100px;
}
#features h1 {
	color: #111;
}
#features p {
	font-weight: 300;
	letter-spacing: 0.5px;
	margin: 0 0 10px;
	color: #222;
}
.underline i.fa {
	font-size: 20px;
	color: #0099FF;
}
.underline {
	position: reative;
	font-size: 20px;
	max-width: 350px;
	margin: auto;
	margin-bottom: 80px;
}
.uderline:before, .underline:after {
	background-color: #777;
	position: absolute;
	content: "";
	width: 150px;
	height: 1px;
	top: 50%
}
.underline:before {
	left: 0;
}
.uderline:after {
	right: 0;
}
#features-image {
    float: left;
    width: 30%;
}
#features-image img {
    width: 252px;
}
#features-list {
    float: left;
    width: 70%;
}
#features-list .item {
    width: 50%;
    float: left;
}
.clear {
	clear: both;
}
#features-list, #features-list .item {
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#features-list .item .icon {
	width: 58px;
	height: 58px;
	float: left;
	color: #0099ff;
	font-size: 30px;
	border: 1px solid #0099ff;
	text-align: center;
	line-height: 60px;
	border-radius: 100%;
}
#features-list .item .text {
	margin-left: 80px;
}
#features-list .item .text h3 {
	color: #2e2e2e;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 24px;
}
#features-list .item .text p {
	letter-spacing: 0.5px;
	margin: 0 0 10px;
	margin-bottom: 50px;
	font-size: 16px;
}